@import url("estilosGenerales.css");

.border-radius{
    border-radius: 5px;
}

.historial-de-pagos,
.historial-mascota,
.informacion-personal{
    margin: 5px;
}

.perfil-main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.perfil-contenido {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-usuario_img {
    width: 250px;
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img {
    background-image: url('../assets/img/default-user-image.jpg');
    background-size: cover;
    width: 90%;
    height: 200px;
    margin-bottom: 30px;
}

.usuario {
    background-color: var(--navApp);
    width: 110%;
    color: var(--blanco);
    font-size: 22px;
    text-align: center;
    padding: 10px;
}

.informacion-personal {
    overflow: hidden;
    background-color: var(--silver);
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-info-usario {
    background-color: var(--verdeagua);
    width: 100%;
    height: 12%;
    color: var(--blanco);
    text-align: center;
}

.box-info-usuario {
    background-color: var(--blanco);
    width: 45%;
    height: 10%;
    margin: 0px 12px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-info-usuario p{
    color: #333;
    font-family: Roboto500;
   /* text-align: center;
    padding-top: 10px;*/
}

.calificacion {
    width: 100%;
    background-color: transparent;
}

.historial-de-pagos,
.historial-mascota {
    overflow: hidden;
    background-color: var(--silver);
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.titulo-historial {
    background-color: var(--verdeagua);
    width: 100%;
    height: 20%;
    color: var(--blanco);
    text-align: center;
}

.titulo-lastCitas {
    background-color: var(--verdeagua);
    width: 100%;
    height: 50%;
    color: var(--blanco);
    text-align: center;
}

table {
    padding: 30%;
    margin: 5%;
    width: 90%;
    border-spacing: 10px;
}

td{
  border-radius: 5px;
  text-align: center;
}

.detalle {
    width: 70%;
    height: 35px;
    background-color: var(--blanco);
}

.precio {
    background-color: var(--headerApp);
    color: var(--blanco);
}

.h-citas {
    height: 35px;
    background-color: var(--blanco);
}
.btn-editar{
    margin-bottom: 10px;
    padding: 5px 20px;
    background-color: var(--celestemar);
    color: var(--blanco);
    font-size: 15px;
    font-family: Roboto400;
    border: none;
}

.btn-editar:hover{
    background-color: var(--celeste);
}

.edit-icon{
    float: right;
    margin: 10px;
    font-size: 22px;
}
.edit-icon:hover{
    color: var(--verdeagua);
}

.input-img-user{
    display: none;
    
}

.fa-star{
    color: var(--amarillo);
}

.tblTitle {
    background-color: var(--azul2);
    color: var(--blanco);
    cursor: default;
    border-radius: 5px;
    width: 180px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
}
.thTitle {
    border: 1px solid var(--azul2);
    background-color: var(--azul2);
    border-radius: 5px;
    padding: 5px;
}
.thTitle th{
    padding: 5px;
}
.direccion{
    width: 82%;
}

.usuario2 {
    width: 110%;
    color: var(--blanco);
    font-size: 22px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: none;
}


.methodos_de_pagos,.remover{
    transition: all 300ms ease;
}

.methodos_de_pagos{
    background-color: var(--verdeagua) !important;
}

.methodos_de_pagos:hover{
    background-color: var(--esmeralda) !important;
}









.form-pago-tarjeta2 {
    width: 30%;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    background-color: var(--blanco);
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

.form-pago-tarjeta12345 {
    width: 30%;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    background-color: var(--blanco);
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }
  
  /*--TITULO-----------------------*/
  .titulo {
    text-align: center;
    color: var(--verdeagua);
    margin: 50px;
    border-bottom: 2px solid var(--silver);
  }

  .cajasPContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--verdeagua);
    border: 1px solid var(--silver);
    align-items: center;
    margin: 10px;
  }

  /*--CAJAS-DE-DATOS---------------*/
  .cajas {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    border-left: 10px solid var(--silver);
    transition: all .5s ease;
  }
  
  .cajas:hover,
  .cajas:focus {
    border-left: 10px solid var(--verdeagua);
  }
  
  .cajasP {
    width: 30%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    border-left: 10px solid var(--silver);
    transition: all .5s ease;
  }
  
  .cajasP:hover {
    border-left: 10px solid var(--verdeagua);
  }
  
  #mes_vencimiento,
  #year_vencimiento {
    color: var(--gris);
  }
  
  /*--BOTON-DE-PAGO---------*/
  .btn-pago-tarjeta {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    font-size: 15px;
    background-color: var(--verdeagua);
    color: var(--blanco);
    cursor: pointer;
    transition: all .5s ease;
  }
  
  .tarjetas {
    text-align: center;
    color: black;
  }
  

  .btn-pago-tarjeta:hover {
    background-color: var(--turquesa);
  }
  
  .btn-cancerlar-tarjeta {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    font-size: 15px;
    background-color: var(--Rojo2);
    color: var(--blanco);
    cursor: pointer;
    transition: all .5s ease;
  }
  
  .btn-cancerlar-tarjeta:hover {
    background-color: var(--Roj1);
  }
  
  .tengo-cuenta {
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
  }
  
  .tengo-cuenta:hover {
    color: var(--turquesa);
  }
  
  .error {
    border: 2px solid var(--Rojo2);
  }
  
  label {
    color: var(--gris);
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
  
  .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }

  .hidden {
    display: none;
    transition: all 600ms linear;
  }

  .TError {
    border: 2px solid var(--Rojo2);
    border-left: 10px solid var(--Rojo2);
  }






section {
	/* background: #dce7eb; */
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.trash {
	background:#ff6873;
	width: 40px;
	height: 50px;
	display: inline-block;
	margin:0 auto;
	
	position: relative;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.trash:after {
	position: absolute;
	left: -99px;
	right: 0;
	bottom: -500px;
	width: 300px;
}
.trash span {
	position: absolute;
	height: 12px;
	background: #ff6873;
	top: -15px;
	left: -10px;
	right: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
}
.trash span:after {
  content: '';
	position: absolute;
	width: 40px;
	height: 7px;
	background: #ff6873;
	top: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
	left: 10px;
}


.trash i {
	position:relative;
	width: 5px;
	height:20px;
	background:#fff;
	display:block;
	margin:14px auto;
	border-radius: 5px;
}
.trash i:after {
	content: '';
	width: 5px;
	height: 20px;
	background: #fff;
	position: absolute;
	left: -10px;
	border-radius: 5px;
}
.trash i:before {
	content: '';
	width: 5px;
	height: 20px;
	background: #fff;
	position: absolute;
	right: -10px;
	border-radius: 5px;
}

.trash:hover span {
	transform: rotate(-45deg);
	transition: transform 250ms;
}









@import url(./estilosGenerales.css);

* {
  font-family: Roboto300;
}

.form-pago-tarjeta {
  width: 450px;
  padding: 30px;
  margin: auto;
  margin-top: 25px;
  background-color: var(--blanco);
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

/*--TITULO-----------------------*/
.titulo {
  text-align: center;
  color: var(--verdeagua);
  margin-bottom: 20px;
  border-bottom: 2px solid var(--silver);

}

/*--CAJAS-DE-DATOS---------------*/
.cajas {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  border-left: 10px solid var(--silver);
  transition: all .5s ease;



}

.cajas:hover,
.cajas:focus {
  border-left: 10px solid var(--verdeagua);
}

.cajasP {
  width: 30%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  border-left: 10px solid var(--silver);
  transition: all .5s ease;
}

.cajasP:hover,
.cajas:focus {
  border-left: 10px solid var(--verdeagua);
}

.cajasPContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#mes_vencimiento,
#year_vencimiento {
  color: var(--gris);
}

/*--BOTON-DE-PAGO---------*/
.btn-pago-tarjeta {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  font-size: 15px;
  background-color: var(--verdeagua);
  color: var(--blanco);
  cursor: pointer;
  transition: all .5s ease;

}

.btn-pago-tarjeta:hover {
  background-color: var(--turquesa);
}

.btn-cancerlar-tarjeta {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  font-size: 15px;
  background-color: var(--Rojo2);
  color: var(--blanco);
  cursor: pointer;
  transition: all .5s ease;

}

.btn-cancerlar-tarjeta:hover {
  background-color: var(--Roj1);
}

.tengo-cuenta {
  text-align: center;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;


}

.tengo-cuenta:hover {
  color: var(--turquesa);
}

.error {
  border: 2px solid var(--Rojo2);
}

label {
  color: var(--gris);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.hidden {
  display: none;
  transition: all 600ms linear;
}

.TError {
  border: 2px solid var(--Rojo2);
  border-left: 10px solid var(--Rojo2);
}
