@import url("estilosGenerales.css");

.border-radius{
    border-radius: 5px;
}
.shadow{
    box-shadow: -5px 5px 15px var(--gris);
}

.perfil-main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.perfil-contenido {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-usuario_img {
    width: 250px;
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img {
    background-image: url('../assets/img/default-user-image.jpg');
    background-size: cover;
    width: 90%;
    height: 50%;
    margin-bottom: 30px;
}

.usuario {
    background-color: var(--navApp);
    width: 90%;
    color: var(--blanco);
    font-size: 22px;
    text-align: center;
    padding: 10px;
}

.informacion-personal {
    overflow: hidden;
    background-color: var(--silver);
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-info-usario {
    background-color: var(--verdeagua);
    width: 100%;
    height: 12%;
    color: var(--blanco);
    text-align: center;
    padding: 10px;
}

.box-info-usuario {
    background-color: var(--blanco);
    width: 40%;
    height: 10%;
    margin: 0px 12px;
    color: var(--blanco);
}

.box-info-usuario p{
    color: #333;
    font-family: Roboto500;
    text-align: center;
    padding-top: 10px;
}

.calificacion {
    width: 100%;
    background-color: transparent;
}

.historial-de-pagos,
.historial-mascota {
    overflow: hidden;
    background-color: var(--silver);
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.titulo-historial,
.titulo-lastCitas {
    background-color: var(--verdeagua);
    width: 100%;
    color: var(--blanco);
    text-align: center;
    padding: 15px;
}

table {
    margin: 5%;
    width: 90%;
    border-spacing: 10px;
}

td{
    border-radius: 5px;
   text-align: center;
}

.detalle {
    width: 70%;
    height: 35px;
    background-color: var(--blanco);
}

.precio {
    background-color: var(--headerApp);
    color: var(--blanco);
}

.h-citas {
    height: 35px;
    background-color: var(--blanco);
}
.btn-editar{
    margin-bottom: 10px;
    padding: 5px 20px;
    background-color: var(--celestemar);
    color: var(--blanco);
    font-size: 15px;
    font-family: Roboto400;
    border: none;
}

.btn-editar:hover{
    background-color: var(--celeste);
}

.edit-icon{
    float: right;
    margin: 10px;
    font-size: 22px;
}
.edit-icon:hover{
    color: var(--verdeagua);
}

.fa-star{
    color: var(--amarillo);
}

.tblTitle {
    background-color: var(--azul2);
    color: var(--blanco);
    cursor: default;
    border-radius: 5px;
    width: 180px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
}
.thTitle {
    border: 1px solid var(--azul2);
    background-color: var(--azul2);
    border-radius: 5px;
    padding: 5px;
}
.thTitle th{
    padding: 5px;
}
.direccion{
    width: 82%;
}