@import url("estilosGenerales.css");

.border-radius{
    border-radius: 5px;
}
.shadow{
    box-shadow: -5px 5px 15px var(--gris);
}

.perfil-main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.perfil-contenido {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-usuario_img {
    width: 250px;
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-img {
    background-image: url('../assets/img/default-user-mascota.jpg');
    background-size: cover;
    width: 90%;
    height: 50%;
    margin-bottom: 30px;
}

.annadir,.remover{
    transition: all 300ms ease;
}

.annadir{
    background-color: var(--verde) !important;
}

.annadir:hover{
    background-color: var(--esmeralda) !important;
}
.remover{
    background-color: var(--Rojo2) !important;
}
.remover:hover{
    background-color: var(--Roj1) !important;
}

.usuario {
    background-color: var(--navApp);
    width: 90%;
    color: var(--blanco);
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.informacion-personal {
    overflow: hidden;
    background-color: var(--silver);
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-info-usario {
    background-color: var(--verdeagua);
    width: 100%;
    height: 12%;
    color: var(--blanco);
    text-align: center;
    padding: 10px;
}

.box-info-usuario {
    background-color: var(--blanco);
    width: 40%;
    height: 10%;
    margin: 0px 12px;
    color: var(--blanco);
}

.box-info-usuario p{
    color: #333;
    font-family: Roboto500;
    text-align: center;
    padding-top: 13px;
}

.calificacion {
    width: 100%;
    background-color: transparent;
}

.historial-mascota {
    margin-top: 20px;
    overflow: hidden;
    background-color: var(--silver);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.titulo-lastCitas {
    background-color: var(--verdeagua);
    width: 100%;
    color: var(--blanco);
    text-align: center;
    padding: 15px;
}

table {
    margin: 5%;
    width: 90%;
    border-spacing: 10px;
}

td{
    border-radius: 5px;
   text-align: center;
}


.h-citas {
    height: 35px;
    background-color: var(--blanco);
}

.btn-editar{
    height: 50px;
    margin-bottom: 10px;
    padding: 5px 20px;
    background-color: var(--celestemar);
    color: var(--blanco);
    font-size: 15px;
    font-family: Roboto400;
    border: none;
}

.btn-editar:hover{
    background-color: var(--celeste);
}

.btn-cancelar{
    height: 50px;
    margin-bottom: 10px;
    padding: 5px 20px;
    background-color: var(--Roj1);
    color: var(--blanco);
    font-size: 15px;
    font-family: Roboto400;
    border: none;
}

.btn-cancelar:hover{
    background-color: var(--Rojo2);
}

.edit-icon{
    float: right;
    margin: 10px;
    font-size: 22px;
}
.edit-icon:hover{
    color: var(--verdeagua);
}

.fa-star{
    color: var(--amarillo);
}

.tblTitle {
    background-color: var(--azul2);
    color: var(--blanco);
    cursor: default;
    border-radius: 5px;
    width: 180px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
}
.thTitle {
    border: 1px solid var(--azul2);
    background-color: var(--azul2);
    border-radius: 5px;
    padding: 5px;
}
.thTitle th{
    padding: 5px;
}
.observaciones{
    width: 82%;
}

.observaciones p{
    text-align: left;
    margin-left: 10px;
}

button{
    border: none;
}

.AGENDADA {
    background-color: var(--naranja);
}
.CANCELADA {
    background-color: var(--Rojo2);
}
.FINALIZADA {
    background-color: var(--verdeagua);
}

.editarperfilfila1{
    display: flex;
    flex-direction: row;
}

.perfilContainer{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.perfilContainer2{
    display: flex;
    flex-direction: column;
    width: 70%;
}