@import url(./estilosGenerales.css);
*{
  font-family: Roboto300;
}
.form-registro-mascota{
  width: 450px;
  padding: 30px;
  margin: auto;
  margin-top: 25px;
  background-color: var(--blanco);
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;

}
/*--TITULO-----------------------*/
.titulo{
  text-align: center;
  color: var(--verdeagua);
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--silver);

}


/*--CAJAS-DE-DATOS---------------*/
.cajas{
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  border-left: 10px solid var(--silver);
  transition: all .5s ease;
  
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 180px;
  background-image: url('../assets/img/default-user-mascota.jpg');
  background-size: cover;
}

.cajas:hover, .cajas:focus{
  border-left: 10px solid var(--verdeagua);
}

/*--BOTON-DE-REGISTRARSE---------*/
.btn-registro-m{
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  font-size: 15px;
  background-color: var(--verdeagua);
  color: var(--blanco);
  cursor: pointer;
  transition: all .5s ease;
  
}
.btn-registro-m:hover{
  background-color: var(--turquesa);
}
.btn-cancerlar-m {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  margin: 5px 0;
  font-size: 15px;
  background-color: var(--Rojo2);
  color: var(--blanco);
  cursor: pointer;
  transition: all .5s ease;

}

.btn-cancerlar-m:hover {
  background-color: var(--Roj1);
}


/*--YA-TENGO-CUENTA--------------*/
.tengo-cuenta{
  text-align: center;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  

}
.tengo-cuenta:hover{
  color: var(--turquesa);
}
.error{
  border: 2px solid var(--Rojo2);
  border-left: 10px solid var(--Rojo2);

}
.lblFotoMascota{
  font-size: 14px;
  font-weight: 500;
  width: 215px;
  color: var(--gris);
  margin-right: 10px;
  text-align: justify;

  display: inline-block;
}

#imgFotoMascota{
  background-color:white;
    color:var(--gris);
    padding: 15px 5px;
    width: 50%;
    margin: 5px 0 20px 0;
    font-size: 10px;
    border-radius: 5px;
    /* box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
  border-left: 10px solid var(--silver);
  transition: all .5s ease;
}
#imgFotoMascota:hover, #imgFotoMascotas:focus{
  border-left: 10px solid var(--verdeagua);
}

.modal-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.cerrarModalX{
  font-size: 22px;
  color: var(--Rojo2);
  transition: all 200ms linear;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.cerrarModalX:hover{
  color: var(--Roj1);
}