@import url('./estilosGenerales.css');
* {
    font-family: Roboto300;
    margin: 0px auto;
    padding: 0px;
}

    .infoTd {
        border: 1px solid var(--silver);
        border-radius: 5px;
        text-align: center;
        padding: 3px;
        background-color: var(--blanco);
        cursor: default;
        width: 180px;
        margin: 5px;
    }
    .tblTitle {
        background-color: var(--azul2);
        color: var(--blanco);
        cursor: default;
        border-radius: 5px;
        width: 180px;
        margin: 5px;
        text-align: center;
        font-size: 18px;
    }
    
    .btnV,
    .btnEd,
    .btnCa {
        color: var(--turquesa);
        margin: 21px;
        transform: scale(1.5);
        transition: all 200ms linear;
    }
    .btnV:hover,
    .btnEd:hover,
    .btnCa:hover {
        transform: scale(1.6);
    }
    .btnEd {
        color: var(--naranja);
    }
    .btnCa {
        color: var(--Rojo2);
    }
    .thTitle {
        border: 1px solid var(--azul2);
        background-color: var(--azul2);
        border-radius: 5px;
        padding: 5px;
    }
    #tbdCitas {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #tbdReservas {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .tblCitas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 5px;
        width: 100%;
    }
    .tituloCaja {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        background-color: var(--verdeagua);
        color: var(--blanco);
    }
    .tituloCaja h2 {
        padding: 10px;
    }
    .tblCaja {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .AGENDADA {
        background-color: var(--naranja);
    }
    .CANCELADA {
        background-color: var(--Rojo2);
    }
    .FINALIZADA {
        background-color: var(--verdeagua);
    }
    .filtro {
        width: 90%;
        text-align: center;
        margin-bottom: 10px;
        padding: 20px;
        background-color: var(--silver);
        border-radius: 5px 5px 5px 5px;
        color: var(--blanco);
    }
