@import url('./estilosGenerales.css');
.tContainer{
    display: flex;
	justify-content: space-between;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.tTituloContainer {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
	height: 70px;
    text-align: center;
    margin-bottom: 10px;
    background-color: var(--verdeagua);
    color: var(--blanco);
    align-items: center;
}

.tTituloContainer h2{
	padding: 10px; 
}
.iconNuevaCita{
	transform: scale(2);
}
.NuevaCita{
	transform: scale(0.5);	
	transition: all 300ms linear;
} 
.NuevaCita:hover{
	transform: scale(0.6);
}

.btnNuevaCitaContainer{
	display: flex;
	align-items: center;
}

.tFiltros{
	width: 100%;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
	padding: 10px;
}


.table{
	width: 100%;
	border-collapse: collapse;
}

.table thead{
	background-color: var(--azul2);
	color: var(--blanco);
}


.table td,.table th{
  padding:7px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;

}

.table th{
	background-color: var(--azul2);
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

label {
    color: var(--gris);
}

.filtrosCajas{
	display: flex;
	flex-direction: column;
    align-items: center;
	margin-right: 25px;
}
.filtroFecha{
	flex-direction: row;
}

.filtrosCajaschk{
	border: 1px solid var(--gris);
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	border-left: 10px solid var(--silver);
	transition: all .5s ease;
}

.filtrosCajaschk:hover{
	border-left: 10px solid var(--verdeagua);
}
.filtrosCajaschk p{
	color: var(--gris);
	border-bottom: 1px solid var(--gris);
}
.filtrosCajaschk label{
	width: 90px;
}

.checkEstadoCita{
	margin: 10px;
	

}

.select {
    width: 250px;
    padding: 30px;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    display: flex;
}
.cajasCitas{
	width:100%;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	border-left: 10px solid var(--silver);
	transition: all .5s ease;
  }
  
  .cajasCitas:hover, .cajas:focus{
	border-left: 10px solid var(--verdeagua);
  }

  #txtNumCita{
	width: 60%;
  }

.btnV,
.btnEd,
.btnCa {
	color: var(--turquesa);
	margin: 10px;
	transform: scale(1.5);
	transition: all 200ms linear;
}
.btnV:hover,
.btnEd:hover,
.btnCa:hover {
	transform: scale(1.6);
}
.btnEd {
	color: var(--naranja);
}
.btnCa {
	color: var(--Rojo2);
}

#btnFiltroCita{
	color: var(--turquesa);
	margin: 10px;
	transition: all 200ms linear;
	transform: scale(1.8);
	cursor: pointer;
	
}
#btnFiltroCita:hover{
	transform: rotate3d(0,0,4,90deg)
}
.AGENDADA {
	background-color: var(--naranja);
}
.CANCELADA {
	background-color: var(--Rojo2);
}
.FINALIZADA {
	background-color: var(--verdeagua);
}




/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}


/*CANCELAR CITA*/

.form-cancelar-cita{
	width: 450px;
	padding: 30px;
	margin: auto;
	margin-top: 25px;
	background-color: var(--blanco);
	border-radius: 5px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 11;
  }
  /*--TITULO-----------------------*/
  .titulo{
	text-align: center;
	color: var(--verdeagua);
	margin-bottom: 20px;
	border-bottom: 2px solid var(--silver);
  
  }
  /*--CAJAS-DE-DATOS---------------*/
  .cajas{
	  width: 100%;
	  padding: 15px;
	  margin-bottom: 20px;
	  border-radius: 5px;
	  border: none;
	  border-left: 10px solid var(--silver);
	  transition: all .5s ease;
  }
  
  label{
	  color: var(--gris);
  }
  
  .cajas:hover, .cajas:focus{
	border-left: 10px solid var(--verdeagua);
  }
  .Cita{
	  display: flex;
	  flex-direction: column;
  }
  
  .cajasOut{
  background-color: white;
  width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	border-left: 10px solid var(--silver);
	transition: all .5s ease;
  }
  .cajasOut:hover, .cajasOut:focus{
	  border-left: 10px solid var(--verdeagua);
	}
  
  .btn-cancelar-cita{
	  padding: 15px;
	  border-radius: 5px;
	  border: none;
	  margin: 20px 0;
	  font-size: 15px;
	  background-color: var(--verdeagua);
	  color: var(--blanco);
	  cursor: pointer;
	  transition: all .5s ease;
	  
	}
	.btn-cancelar-cita:hover{
	  background-color: var(--turquesa);
	}
   
	.error{
	  border: 2px solid var(--Rojo2);
	}


	/*CREAR CITA*/
	
	.formCita {
		position: absolute;
		top: 40%;
		left: 55%;
		transform: translate(-50%, -50%);
		color: var(--verdeagua);
		width: fit-content;
		padding:30px;
		margin: auto;
		margin-top: 95px;
		background-color: var(--blanco);
		border-radius: 5px;
		z-index: 11;
	}
	.crearCita-Comtainer{
		display: flex;
	}
	.NuevoUser{
		margin-right: 20px;
		
	}
	.nuevaCita{
		width: 450px;
	}

	.cerrarModalX-crearCita{
		font-size: 22px;
		color: var(--Rojo2);
		transition: all 200ms linear;
		position: absolute;
		top: 2%;
		right: 5%;
		cursor: pointer;
	}
	
	
	.select {
		width: 100%;
		padding: 30px;
		margin: auto;
		margin-top: 15px;
		border-radius: 5px;
		text-align: center;
		display: flex;
		color: grey;
	}
	
	.titulo {
		padding-bottom: 10px;
		text-align: center;
		color: var(--verdeagua);
		margin-bottom: 20px;
		border-bottom: 2px solid var(--silver);
	}
	
	.cajas {
		margin-top: 15px;
		width: 100%;
		padding: 15px;
		margin-bottom: 15px;
		border-radius: 5px;
		border: none;
		border-left: 10px solid var(--silver);
		transition: all .5s ease;
		color: grey;
	}
	
	.cajas:hover,
	.cajas:focus {
		border-left: 10px solid var(--verdeagua);
	}
	
	.btnsC {
		display: flex;
		justify-content: space-around;
	}
	
	.btnC {
		width: 100%;
		padding: 10px;
		border-radius: 5px;
		border: none;
		margin: 20px 0;
		width: 120px;
		font-size: 15px;
		background-color: var(--verdeagua);
		color: white;
		cursor: pointer;
		transition: all .5s ease;
	}
	
	.btnC:hover {
		background-color: var(--turquesa);
	}
	
	.btnCancelarC {
		width: 100%;
		padding: 5px;
		border-radius: 5px;
		border: none;
		margin: 20px 0;
		width: 120px;
		font-size: 15px;
		background-color: var(--Rojo2);
		color: white;
		cursor: pointer;
		transition: all .5s ease;
	}
	
	.btnCancelarC:hover {
		background-color: var(--Roj1);
	}
	
	.error {
		border: 2px solid var(--Rojo2);
	}


.form-cancelar-reserva {
	width: 450px;
	padding: 30px;
	margin: auto;
	margin-top: 25px;
	background-color: var(--blanco);
	border-radius: 5px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 11;
}

.formCrearReserva{
	width: 450px;
	padding: 30px;
	margin: auto;
	margin-top: 25px;
	background-color: var(--blanco);
	border-radius: 5px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 11;
}
	





